In [1]:
import numpy as np
import pandas as pd
import ast

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
!ls csv_files

yelp_academic_dataset_business.csv  yelp_academic_dataset_tip_transposed.csv
yelp_academic_dataset_review.csv    yelp_academic_dataset_user.csv
yelp_academic_dataset_tip.csv

In [6]:
generic = lambda x: ast.literal_eval(x)
conv = {'friends': generic}

In [7]:
#business = pd.read_csv('csv_files/yelp_academic_dataset_business.csv')
#review = pd.read_csv('csv_files/yelp_academic_dataset_review.csv')
#tip = pd.read_csv('csv_files/yelp_academic_dataset_tip_transposed.csv')
user = pd.read_csv('csv_files/yelp_academic_dataset_user.csv',converters=conv)

In [8]:
user.head()['friends']

0    [wSByVbwME4MzgkJaFyfvNg, cpQmAgOWatghp14h1pn1d...
1    [xh9VekYUo5CgVBxySQ70Tw, L3Z-WvSvYXvTf-lzSTnxf...
2    [1IQ_d1RuMj8iIpcF2CDohA, lwhksSpgIyeYZor_HlN93...
3    [mXWEAK4ns5hdsD0b5EW_TQ, _5kP7S0sLG2YNCJ9kMZ1i...
4    [Kw4ZuLGWYHlocofX_HFL-g, yuEzhI3PX4CHfCnJslHoD...
Name: friends, dtype: object

In [10]:
user.head()

,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,...,cool,elite,fans,friends,funny,name,review_count,useful,user_id,yelping_since
0,4.03,1,0,1,2,0,0,1,0,1,...,25,"2015,2016,2017",5,"[wSByVbwME4MzgkJaFyfvNg, cpQmAgOWatghp14h1pn1d...",17,Rashmi,95,84,l6BmjZMeQD3rDxWUbiAiow,2013-10-08 23:11:33
1,3.63,1,0,1,1,0,0,0,0,0,...,16,NaN,4,"[xh9VekYUo5CgVBxySQ70Tw, L3Z-WvSvYXvTf-lzSTnxf...",22,Jenna,33,48,4XChL029mKr5hydo79Ljxg,2013-02-21 22:29:06
2,3.71,0,0,0,0,0,0,1,0,0,...,10,NaN,0,"[1IQ_d1RuMj8iIpcF2CDohA, lwhksSpgIyeYZor_HlN93...",8,David,16,28,bc8C_eETBWL0olvFSJJd0w,2013-10-04 00:16:10
3,4.85,0,0,0,1,0,0,0,0,2,...,14,NaN,5,"[mXWEAK4ns5hdsD0b5EW_TQ, _5kP7S0sLG2YNCJ9kMZ1i...",4,Angela,17,30,dD0gZpBctWGdWo9WlGuhlA,2014-05-22 15:57:30
4,4.08,80,0,80,28,1,1,16,5,57,...,665,"2015,2016,2017,2018",39,"[Kw4ZuLGWYHlocofX_HFL-g, yuEzhI3PX4CHfCnJslHoD...",279,Nancy,361,1114,MM4RJAeH6yuaN8oZDSt0RA,2013-10-23 07:02:50

In [11]:
user_ids = user['user_id'].reset_index().set_index('user_id')['index'].to_dict()

In [12]:
user_table = user

In [13]:
user['friends'].map(lambda friends: list(map(lambda x: user_ids[x],friends)))

0         [291, 126238, 272956, 30953, 18897, 1391, 2805...
1         [293790, 578622, 205428, 607172, 586444, 58459...
2         [47612, 111729, 458446, 54552, 6553, 19363, 12...
3         [589226, 495880, 434833, 769827, 117697, 19492...
4         [26967, 431106, 354308, 48663, 1556, 215429, 3...
                                ...
778646                                             [610196]
778647                                             [634700]
778648                                             [749516]
778649                                             [346700]
778650                                              [10220]
Name: friends, Length: 778651, dtype: object

In [42]:
user[user['elite'].map(lambda x:type(x))==type("")]['elite'].map(lambda e:list(map(lambda x:int(x),e.split(","))))

0                                       [2015, 2016, 2017]
4                                 [2015, 2016, 2017, 2018]
5                                 [2015, 2016, 2017, 2018]
6         [2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013]
8               [2006, 2007, 2008, 2009, 2010, 2011, 2012]
                                ...
778085                                              [2018]
778225                                              [2018]
778471                                              [2018]
778589                                              [2018]
778643                                              [2018]
Name: elite, Length: 70559, dtype: object

[2001, 2002]

In [40]:
list(map(lambda x:int(x),"2001".split(",")))

[2001]