In [2]:
import pandas as pd
import psycopg2
import numpy as np

In [3]:
business_raw = pd.read_csv('csv_files/yelp_academic_dataset_business.csv')

In [4]:
business_raw.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
0,2818 E Camino Acequia Drive,{},1SWheh84yJXfytovILXOAQ,"Golf, Active Life",Phoenix,NaN,0,33.522143,-112.018481,Arizona Biltmore Golf Club,85016,5,3.0,AZ
1,30 Eglinton Avenue W,"{'GoodForMeal': ""{'dessert': False, 'latenight...",QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,"{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...",1,43.605499,-79.652289,Emerald Chinese Restaurant,L5R 3E7,128,2.5,ON
2,"1210 8th Street SW, Unit 220","{'BusinessParking': ""{'garage': False, 'street...",fcXOEZdXYeZqnQ3lGlOXmg,"Local Services, Professional Services, Compute...",Calgary,"{'Monday': '9:0-17:0', 'Tuesday': '9:0-17:0', ...",1,51.041771,-114.081109,Nucleus Information Service,T2R 1L3,5,2.0,AB
3,"6955 N Durango Dr, Ste 1116","{'BusinessParking': ""{'garage': False, 'street...",f2ZWZPENViL92BrFsIgR6w,"Beauty & Spas, Hair Salons",Las Vegas,"{'Monday': '8:30-20:0', 'Tuesday': '8:30-20:0'...",1,36.287312,-115.289540,Amazing Cuts,89149,116,4.5,NV
4,4 E University Dr,{},6KgGE8B1RsR7jc9R5nuH0Q,"American (Traditional), Restaurants",Tempe,NaN,0,33.422192,-111.939615,Ruby Tuesday,85281,9,2.5,AZ

In [26]:
def store_states(state_table, cursor):
    for name, id in state_table.items():
        cursor.execute("insert into state (id, name) values ({id}, '{name}')".format(id=id, name=name))

In [10]:
business_id = business_raw["business_id"].reset_index().set_index("business_id")["index"].to_dict()
state_table = pd.Series(business_raw["state"].unique(), name="state").reset_index().set_index("state")["index"].to_dict()

{'AZ': 0,
 'ON': 1,
 'AB': 2,
 'NV': 3,
 'NC': 4,
 'QC': 5,
 'OH': 6,
 'PA': 7,
 'WI': 8,
 'IL': 9,
 'SC': 10,
 'NY': 11,
 'GA': 12,
 'TX': 13,
 'CA': 14,
 'AL': 15,
 'DUR': 16,
 'XWY': 17,
 'TN': 18,
 'FL': 19,
 'XGM': 20,
 'VA': 21,
 'CT': 22,
 'NJ': 23,
 'WA': 24,
 'AR': 25,
 'UT': 26,
 'NM': 27,
 'XGL': 28,
 'DOW': 29,
 'BAS': 30,
 'NE': 31,
 'AK': 32,
 'CON': 33,
 'BC': 34,
 'VT': 35}

In [17]:
con = psycopg2.connect(database="template1", user="Pialex99", password="", host="127.0.0.1", port="5432")
print("Connection worked")

Connection worked

In [31]:
con.close()

In [19]:
cur = con.cursor()

In [30]:
cur.execute("select * from state")
cur.fetchall()

[(0, 'AZ'),
 (1, 'ON'),
 (2, 'AB'),
 (3, 'NV'),
 (4, 'NC'),
 (5, 'QC'),
 (6, 'OH'),
 (7, 'PA'),
 (8, 'WI'),
 (9, 'IL'),
 (10, 'SC'),
 (11, 'NY'),
 (12, 'GA'),
 (13, 'TX'),
 (14, 'CA'),
 (15, 'AL'),
 (16, 'DUR'),
 (17, 'XWY'),
 (18, 'TN'),
 (19, 'FL'),
 (20, 'XGM'),
 (21, 'VA'),
 (22, 'CT'),
 (23, 'NJ'),
 (24, 'WA'),
 (25, 'AR'),
 (26, 'UT'),
 (27, 'NM'),
 (28, 'XGL'),
 (29, 'DOW'),
 (30, 'BAS'),
 (31, 'NE'),
 (32, 'AK'),
 (33, 'CON'),
 (34, 'BC'),
 (35, 'VT')]

In [29]:
store_states(state_table, cur)
con.commit()

In [28]:
con.rollback()